
/* css of index page */


body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    background-image: radial-gradient( circle 358px at -2% 48.6%,  rgba(78,108,239,1) 0%, rgba(2,136,209,1) 90% );
}

#nav{
        display: flex;
        align-items: center;
        padding: 15px;
        background-image: linear-gradient( 109.6deg,  rgba(103,30,117,1) 11.2%, rgba(252,76,2,1) 91.1% );
}

#navbarSupportedContent{
    font-size:2rem;
    font-family:'Times New Roman',Times, serif;
} 

#navbarSupportedContent img{
    height: 40px;
    margin:5px;
    width: 50px;
}

#col2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#col{
    margin-top: 25px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

#col img{
   height: 120px;
   width: 120px;
}

#col1{
   display: flex;
   align-items: start;
   justify-content: start;
   margin-top: 50px;
   padding-left: 0px;
   margin-left: 0px;
}

#col1 p h1{
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: 2px 2px 10px white;
}

#col1 img{ 
      width: 360px;   
      height: 380px; 
}

.btn{
    height: 40px;
    width: 150px;
    display: inline-block;
    background: #ff523b;
    border-radius: 7px;
    transition:  0.5s;
}

.btn p{
    color: aliceblue;
}

.btn:hover{
        background: #563434;
}





/* css of home page */
.imag {
    width: 100%;
    height: 200px;
  }

  .caption{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:antiquewhite;
    color:#563434;
    font-weight:bolder;
    font-size: 6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

/* css of product page */

  #mainContainer{
    display:  flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
  }

  #main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 40px;
  }

  .item{
      margin-top: 2.5%;
      margin-bottom: 2.5%;
      transition:all 0.5s linear 0s;
  }

  .item:hover{
    transform: scale(1.03,1.03);
}

.item img{
    height: 300px;
    width: 286px;
}





